{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Detalles del Proveedor: {{ proveedor.nombre }}</title>
  <link rel="stylesheet" href="{% static 'app/detalleprov.css' %}">
</head>
<body>
    <nav class="navbar">
        <span class="navbar-title"><b>Panel de Administrador</b></span>
        <div class="navbar-profile">
            <span class="navbar-username">Juan Pérez</span>
            <a class="logout-btn" href="{% url 'login' %}">Cerrar sesión</a>
        </div>
    </nav>

  <main>
    <div class="volver">
        <a href="{% url 'admin2' %}" class="volver-link">&larr; Volver al Proveedor</a>
    </div>

    <div class="main-card">
        <div class="main-card-header">
            <h2>Detalles del Proveedor: {{ proveedor.nombre }} {{ proveedor.apellido }}</h2>
        </div>
        <p class="proveedor-id">ID: PROV-{{ proveedor.id_proveedor }}</p>
        <h3 class="productos-title">Productos</h3>
      
        <div class="productos-grid">
            {% if productos %}
                {% for producto in productos %}
                    <div class="card-producto">
                        <span class="card-title">{{ producto.nombre_producto }}</span>
                        <div class="acciones-producto">
                        <a class="ver-detalles" href="{% url 'detalleproducto' producto.id_producto %}">Ver detalles</a>
                        <a class="btn-editar" href="{% url 'prod_editar' producto.id_producto %}">Editar</a>
                        <form method="post" action="{% url 'prod_eliminar' producto.id_producto %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn-eliminar" title="Eliminar">Eliminar</button>
                        </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay productos para este proveedor.</p>
            {% endif %}
            <!-- Agregar Producto -->
            <div class="card-producto card-crear-producto">
                <a class="icono-mas" href="{% url 'prod_crear' proveedor.id_proveedor %}">+</a>
                <span class="crear-texto">Agregar Producto</span>
            </div>
        </div>
    </div>
  </main>
</body>
</html>